body
{
    color: darkseagreen;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
}

h2
{
    font-size: 36px;
    font-weight: 400;
    color: #C0D06F;
    margin: 20px;
}

.index2{
    width:705px;
    height:317px;
    margin-left: 100px;
}

.index3{
    margin-left: 200px;
    width:310px;
    height:163px;
}

#watch
{
    float: right;
    margin-top: 5px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 60px;
    color:ghostwhite;
    margin-right: 10px;
}

a{
    color:darkseagreen;
    background-color: blanchedalmond;


}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
a:hover {text-decoration:underline;}
a:active {text-decoration: navajowhite;}

.bottom
{
    margin-bottom: 60px;
}

table
{
    background-color: blanchedalmond;
    font-size: 26px;
    margin-left: 5px;
}